
<style>


    #images-grid-main>div>div>div>div{
        overflow: hidden;
        border-radius: 1em;
        border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
        background-color: bisque;
    }

    #images-grid-main>div>div>div>div>div p{
    margin: 5px 5px;    
}

#images-grid-main>div>div>div>div>div{
    display: flex;
    margin-left: 5px;    
    justify-content: space-between;
}


#images-grid-main>div>div>div>a{
        text-decoration: none;

    }


    #images-grid-main>div>div>div>a>p{
        font-size: 22px;
        padding: 0px 4px;
        text-decoration: none;
        color: black;
        transition: font 0.3s ease-in-out;

    }

    #images-grid-main>div>div>div>a>p:hover{
        font-size: 26px;
        /* transform:scale(1.15); */
    }


   

    #images-grid-main img{
        /* width: 120px; */
        border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  transition: transform 0.3s ease-in-out;

    }

    #images-grid-main img:hover{
        border-top-left-radius: 1em;
  border-top-right-radius: 1em;
          transform:scale(1.2);

    }

@media (max-width:480px) {
    *{
        font-size: 14px;
        /* transform:scale(1.15); */
    }

    
    #images-grid-main img{
        width: 100%;


    }

    #images-grid-main>div>div>div>a>p:hover{
        font-size: 16px;


    }

    #images-grid-main>div>div>div>a>p{
        font-size: 14px;
        padding: 0px 4px;
        text-decoration: none;
        color: black;
        transition: font 0.3s ease-in-out;
        width:120px;
        word-wrap: break-word;
        overflow: hidden;


    }
    #time-pagination{
        display: block;
        width: 100%;
    }

    .pagination{
    display:block;
  }

    #second-pagination{
        display: block;
    }

    #images-grid-main>div>div>div>div {
        width: 100%;
    }

    .col-xs-6.col-md-3{
        width: 50%;
    }
    #images-grid-main>div>div>div>div>div{
        display: block;
    }

    #left-content{
        width: 100%;
    }

    #right-content{
        display: none;
    }
}

</style>

<div id="images-grid-main">



  
    <div class="container">
        {% for chunk in images|batch(4) %}
            <div class="row mb-4">
                {% for image in chunk %}
                    <div class="col-xs-6 col-md-3">
                        <div>
                            <a href="{{ url_for('movie_page', idm=image[2]) }}" target="_blank">
                                <img src="{{ image[0] }}" alt="Movie Image">
                            </a>
                            <div>
                                
                                <!-- Append the movie's index or ID to the identifier -->
                                <p class="vote-average" id="vote_average_{{ image[2] }}"><i style="margin-right: 5px;" class='fa fa-star checked'></i>{{ image[3] }}</p>
                                <p class="date" >{{ image[4] }}</p>

                            </div>
                        </div>
                        <a href="{{ url_for('movie_page', idm=image[2]) }}" target="_blank"><p>{{ image[1] }}</p></a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<script src="{{url_for('static', filename='scripts/script.js')}}"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        if (window.innerWidth > 480) {
        // Get all elements with class "vote-average"
        const voteAverageElements = document.querySelectorAll(".vote-average");

        // Loop through each element and generate star rating
        voteAverageElements.forEach(function (element) {
            const movieId = element.id.split("_")[1]; // Extract movie ID from the element ID
            const rating = parseFloat(element.innerText); // Extract rating from the element text
            generateStarRating(element, rating);
        });
    }
    });






</script>